name: Build and Deploy

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build with Maven
        run: mvn -B -DskipTests package

      - name: List files in target folder
        run: |
          echo "API:"
          ls -la feedback-api/target
          echo "SCHEDULER:"
          ls -la feedback-scheduler/target
          echo "SNS:"
          ls -la feedback-sns/target



      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: sa-east-1
          role-to-assume: arn:aws:iam::722318517834:role/github-actions-deploy

      - name: SAM deploy
        run: |
          pip install aws-sam-cli
          sam deploy --template-file template.yaml --stack-name feedback-stack \
            --capabilities CAPABILITY_IAM --no-confirm-changeset --resolve-s3
