name: Build and Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build with Maven
        run: mvn -B -DskipTests package

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: sa-east-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }} # ou use access keys
          role-session-name: gha-deploy

      - name: SAM deploy
        run: |
          pip install aws-sam-cli
          sam deploy --template-file template.yaml --stack-name feedback-stack \
            --capabilities CAPABILITY_IAM --no-confirm-changeset --resolve-s3
